//Flexbox

@mixin flex(
    $disp: flex,
    $wrap: null,
    $dir: null,
    $just: null,
    $bas: null
    ) 
    {   
    display: $disp;
    flex-wrap: $wrap;
    flex-direction: $dir;
    justify-content: $just;
    flex-basis: $bas;
}

//Media Queries

@mixin med-quer($bp) {
    $val: map-get($breakpoints, $bp);
    $sm: map-get($breakpoints, 'sm');

    @if $val == null {
        @warn " `#{$bp}` is not a valid breakpoint value."; 
       }

       @else if $val < $sm {
        @media (max-width: $val) {
          @content;      
        }
     }
     @else {
         @media (min-width: $val) {
          @content;      
        }     
     }  
}

// Themes
  
@mixin themes($map) {
    @each $theme, $color in $map {
     &--#{$theme} {
       background-color: $color; 
       }
     } 
 }