
// ________________COLORS_________________


// Base and Font Colors
$color-white: #fff;
$color-black: #000;
$color-font: #8a8a8a;
$color-primary: #58e1c1;

// Primary and Button Colors
$theme--colors: (
    'default':  #51ddfc,
    'success': #63cc82,
    'error': #e5747a,
    'warning': #fd7856,
    'info': #927bc1
);

// Layout Colors

// $color-col-12: #80e8d1;
// $color-col-8: #fd9f85;
// $color-col-7: #ec9fa3;
// $color-col-6: #3fabca;
// $color-col-5: #88d9a0;
// $color-col-4: #7ee6fd;
// $color-col-3: #deb2ee;


// ________________IMAGES_________________


// ________________FONTS_________________

$font-main: 'Helvetica Neue', san-serif;
