
// ________________COLORS_________________


// Base and Font Colors
$color-white: #fff;
$color-black: #000;
$color-font: #8a8a8a;
$color-primary: #58e1c1;

$font-main: 'Helvetica Neue', san-serif;

// Primary and Button Colors
$theme--colors: (
    'default':  #51ddfc,
    'success': #63cc82,
    'error': #e5747a,
    'warning': #fd7856,
    'info': #927bc1
);

// Layout Colors
$layout--colors: (
    'col-12': #80e8d1,
    'col-8': #fd9f85,
    'col-7': #ec9fa3,
    'col-6': #3fabca,
    'col-5': #88d9a0,
    'col-4': #7ee6fd,
    'col-3':#deb2ee
);

//Gutter
$gutter: 22px;
$max-width: 1400px;

//Breakpoints

$breakpoints: (
    'sm': 480px,
    'lg': 769px
);


