// Container

.container {
    padding: 2em 2.25em;
}

// Grid Row
.grid__row{
    @include flex;
    flex-direction: column;
}

.grid__row div {
    width: 100%;
    flex-basis: 100%;
    justify-content: center;
}

.link {
    display: flex;
    width: 100%;
    flex-basis: 100%;
    align-items: center;
    justify-content: center;
}





