// Container

.container {
    padding: 2em 2.25em;
}

// Grid Row
.grid__row{
    @include flex(
        $wrap: wrap,
        $dir: column,
        $just: center
    );
}

.grid__row div {
    width: 100%;   
}

.link {
    @include flex (
        $bas: 100%,
        $just: center
    );
    align-items: center;
}



.card {
    padding: 4em 0;
}

.card .link {
    display: inline;
    color: $color-default;
}

.form {
    @include flex(
        $dir: column,
        $just: center
    );
}




