// Container

.container {
    padding: 2em;
}

// Grid Row
.grid__row{
    @include flex(
        $wrap: wrap,
        $dir: column,
        $just: center
    );
    margin-bottom: 2em;
}

.grid__row div {
    @include flex(
       $dir: column 
    );   
}

.link {
    @include flex (
        $bas: 100%,
        $just: center
    );
    align-items: center;
}



.card {
    padding: .4em 0;
}

.card .link {
    display: inline;
    color: map-get($theme--colors, 'default');
}

.form {
    @include flex(
        $dir: column,
        $just: center
    );
}



.grid__col {
    &--12.theme__colors {
        @extend %grid__col;
        background-color: map-get($layout--colors, 'col-12'); 
    }
    &--8.theme__colors {
        @extend %grid__col;
        background-color: map-get($layout--colors, 'col-8'); 
    }
    &--7.theme__colors {
        @extend %grid__col;
        background-color: map-get($layout--colors, 'col-7'); 
    }
    &--6.theme__colors {
        @extend %grid__col;
        background-color: map-get($layout--colors, 'col-6'); 
    }
    &--5.theme__colors {
        @extend %grid__col;
        background-color: map-get($layout--colors, 'col-5'); 
    }
    &--4.theme__colors {
        @extend %grid__col;
        background-color: map-get($layout--colors, 'col-4'); 
    }
    &--3.theme__colors {
        @extend %grid__col;
        background-color: map-get($layout--colors, 'col-3'); 
    }
}






