
.nav {
    @include flex(
        $wrap: wrap,
        $dir: column,
        $just: center,
        $bas: 100%
    );
    width: 100%;
    margin-bottom: 2em;
}

.nav__item {
    @extend %nav--item;
    a {
        @extend %a;
    }
    &:hover {
        background-color: $color-primary;
        a { 
            color: $color-white;
        }
    } 
}

