
.nav {
    @include flex(
        $wrap: wrap,
        $dir: column,
        $just: center,
        $bas: 100%
    );
    width: 100%;
    margin-bottom: 2em;
}

.nav__item {
    border-radius: 7px;
    text-align: center;
    width: 100%;
    height: 2.5em;
    padding: .5em 0;
    margin: .25em 0; 
    a {
        @extend %a;
    }
    &:hover {
        background-color: $color-primary;
        a { 
            color: $color-white;
        }
    } 
}

